div.Title h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 90px;
    color:rgb(0, 196, 33);
    
}

div.Title h2 {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    color:rgb(255, 255, 255);
}

#h1Throughout {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    color:rgb(255, 255, 255);
    margin-bottom: 100px;
    text-align: center;
}


div.SkillsText {
    height: 200px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#paragraphTextCenter {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-align: center;
}

div.RetroRollImage {
    margin-left:400px;
    width: 350px;
    float:left;
}

div.RetroRollText {
    margin-left: 800px;
    width: 500px;
}


#RetroRollPNG {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#MyWork {
    overflow: hidden;
}

#ParagraphTitles {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    color:rgb(255, 255, 255);
    
}

#paragraphText {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-align: left;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    border-color: rgb(0, 196, 33);

}

body {
    background-color: rgb(0, 0, 0);
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

canvas {
    margin-left: auto;
    margin-right: auto;
}

div.Title {
    width: 100%;
    text-align: center;
}

div.Links {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flexbox;
    position: sticky;
    top: 0px;
    background-color: rgb(39, 39, 39);
    padding-top: 1%;
    box-shadow: 5px 10px rgba(34, 34, 34, 0.329)  ;
}

#linksText {
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: rgb(39, 39, 39);
    border-style: dashed;
}


#Skills {
    margin-top: 100px;
}

